# Day 1: Sonar Sweep

In [1]:
import datetime
print(datetime.datetime.now().date())

2021-12-01

Read today's [puzzle](https://adventofcode.com/2021/day/1) on [Advent of Code](https://adventofcode.com/).

## Solution - Part 1

In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('input.csv', header=None, names=['input'])
index_list = list(np.arange(len(data['input'])))

# List depth measurement increase/decrease
output = ['N/A - no previous measurement']
for n in index_list:
    if n+1 < len(index_list):
        if data['input'].iloc[n] < data['input'].iloc[n+1]:
            output.append('increased')
        elif data['input'].iloc[n] > data['input'].iloc[n+1]:
            output.append('decreased')
        else:
            output.append('N/A')
    else:
        break

# Put input data and listed results side by side
data['output'] = output

In [4]:
# Take a peek at the data
data

      input                         output
0       124  N/A - no previous measurement
1       125                      increased
2       127                      increased
3       128                      increased
4       132                      increased
...     ...                            ...
1995   8538                      increased
1996   8547                      increased
1997   8551                      increased
1998   8563                      increased
1999   8564                      increased

[2000 rows x 2 columns]

How many measurements are larger than the previous measurement?

In [5]:
data['output'].value_counts()

increased                        1559
decreased                         440
N/A - no previous measurement       1
Name: output, dtype: int64

*Answer*: 1559

## Solution - Part 2

In [6]:
# Re-calculate input data using three measurement windows
updated_input=[]
for n in index_list:
    if n+2 < len(index_list):
        updated_input.append(
            data['input'].iloc[n] + data['input'].iloc[n+1] + data['input'].iloc[n+2]
        )
    else:
        break

In [7]:
updated_data=pd.DataFrame(updated_input, columns=['input'])
index_list = list(np.arange(len(updated_data['input'])))

# List depth measurement increase/decrease
updated_output = ['N/A - no previous measurement']
for n in index_list:
    if n+1 < len(index_list):
        if updated_data['input'].iloc[n] < updated_data['input'].iloc[n+1]:
            updated_output.append('increased')
        elif updated_data['input'].iloc[n] > updated_data['input'].iloc[n+1]:
            updated_output.append('decreased')
        else:
            updated_output.append('N/A')
    else:
        break

updated_data['output'] = updated_output

In [8]:
# Take a peek at the data
updated_data

      input                         output
0       376  N/A - no previous measurement
1       380                      increased
2       387                      increased
3       400                      increased
4       414                      increased
...     ...                            ...
1993  25578                      increased
1994  25613                      increased
1995  25636                      increased
1996  25661                      increased
1997  25678                      increased

[1998 rows x 2 columns]

How many sums are larger than the previous sum?

In [9]:
updated_data['output'].value_counts()

increased                        1600
decreased                         363
N/A                                34
N/A - no previous measurement       1
Name: output, dtype: int64

*Answer*: 1600