# Day 2: Dive!

In [104]:
import datetime
print(datetime.datetime.now().date())

2021-12-02

Read today's [puzzle](https://adventofcode.com/2021/day/2) on [Advent of Code](https://adventofcode.com/).

## Solution - Part 1

In [105]:
import pandas as pd
import numpy as np

In [106]:
# Read in input data
## Break down submarine commands 
## into direction (forward, down, up) and distance (value)
data = pd.read_csv('input.txt', header=None, names=['direction', 'value'], delimiter=" ")

# Quick look at data
data.head()

  direction  value
0   forward      9
1   forward      7
2      down      7
3      down      3
4   forward      2

In [107]:
# Calculate horizontal position
horizontal_pos = sum(data[data['direction']=='forward']['value'])

# Calculate vertical position (depth)
depth_increase = sum(data[data['direction']=='down']['value'])
depth_decrease = sum(data[data['direction']=='up']['value'])
depth = depth_increase - depth_decrease

Multiplying horizontal position and depth produces:

In [108]:
horizontal_pos * depth

1882980

*Answer*: 1882980

## Solution - Part 2

In [109]:
# Calculate aim for every command instance
def get_aim(data):
    if data['direction'] == 'forward':
        return 0
    elif data['direction'] == 'up':
        return 0 - data['value']
    else:
        return data['value']

data['aim'] = data.apply(get_aim, axis=1)

# Peak at data
data.head()

  direction  value  aim
0   forward      9    0
1   forward      7    0
2      down      7    7
3      down      3    3
4   forward      2    0

In [110]:
# Calculate "total" aim at each command instance
## Transform aim values into cumulative sum
## at every command instance
data['aim'] = data['aim'].cumsum()

# Peak at data
data.head(20)

   direction  value  aim
0    forward      9    0
1    forward      7    0
2       down      7    7
3       down      3   10
4    forward      2   10
5    forward      3   10
6    forward      7   10
7       down      6   16
8    forward      7   16
9       down      7   23
10   forward      9   23
11      down      9   32
12        up      2   30
13      down      5   35
14        up      1   34
15   forward      5   34
16   forward      6   34
17        up      4   30
18      down      3   33
19      down      4   37

In [111]:
# Calculate depth after taking aim into account
## Note that in our updated case,
## only "forward" commands directly effect
## the depth of the submarine
forward_commands = data[data['direction']=='forward']
depth = sum(forward_commands['value'] * forward_commands['aim'])

What do you get if you multiply your final horizontal position by your final depth?

In [112]:
horizontal_pos * depth

1971232560

*Answer*: 1971232560